---
import Layout from "../layouts/Layout.astro";
---

<Layout title="oops">
  <div class="container">
    <p>
      Bei deinem Versuch, die Website zu erkunden, bist du wohl auf
      übernatürliche Links gestoßen... <b
        >Hier geht es aber wohl leider nicht weiter.</b
      >
    </p>
  </div>
</Layout>
<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
</style>
