---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="PC">


    <h2 class="TextH2">Mein PC:</h2>
    <div class="CardWrapper">
      <div class="GridCard">
        <Card
          title="Grafikkarte"
          body="Zurzeit besitze ich die RTX 3060 von Nvidia"
          href="https://www.nvidia.com/de-de/geforce/graphics-cards/30-series/rtx-3060-3060ti/"
        />
        <Card
          title="CPU"
          body="Meine CPU ist der Ryzen 5600."
          href="https://www.amd.com/de/products/cpu/amd-ryzen-5-5600"
        />
        <Card
          title="Mainboard"
          body="vergessen :=)."
          href=""
        />
      </div>
    </div>
  </Layout>
  
  <style>
    .GridCard {
      display: grid;
      width: 80%;
      gap: 5%;
      grid-template-columns: 2fr 2fr;
      padding: 0;
    }
    .CardWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .TextH2 {
      text-align: center;
    }
    @media (max-width: 850px) {
      .GridCard {
        gap: 10%;
      }
    }
    @media (max-width: 700px) {
      .GridCard {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        justify-content: center;
      }
      .Image {

      }
    }
  </style>
  